<% if (theme.valine.enable) { %>
    <span class="leancloud-comment">
        <i class="icon icon-comment-o"></i>
        <a href="<%- url_for(post.path) %>#comment">
            <span class="valine-comment-count" data-xid="<%- url_for(post.path) %>"></span>
        </a>
    </span>
<% } %>
