<div id="repo">
    <div class="loading active"></div>
    <div class="top clearfix">
        <div class="avatar pull-left"></div>
        <div class="content pull-left">
            <p class="name"></p>
            <p class="description"></p>
        </div>
    </div>
    <ul class="bottom">
        <li class="star">
            <span class="icon icon-star"></span>
            <span class="val">0</span>
        </li>
        <li class="fork">
            <span class="icon icon-code-fork"></span>
            <span class="val">0</span>
        </li>
        <li class="date">
            <span class="icon icon-clock-o"></span>
            <span class="val">0000-00-00</span>
        </li>
    </ul>
    <a class="link" href=""></a>
</div>