<% if(theme.toc.enable){
    var topic = toc(post.content, {
            class: 'post-toc',
            list_number: theme.toc.list_number,
            max_depth: 2
        })
    if(topic) {
    %>
    <aside class="post-widget">
        <nav class="post-toc-wrap" id="post-toc">
            <h4>TOC</h4>
            <%- topic %>
        </nav>
    </aside>
    <% }
} %>