<% if (theme.leancloud_visitors.enable) { %>
	<span id="<%- url_for(post.path) %>" class="leancloud_visitors" data-flag-title="<%- post.title %>" title="<%- post.title %>">
		<% if (theme.leancloud_visitors.icon) { %>
			<i class="icon icon-eye"></i>
		<% } else { %>
			<span>阅读次数</span>
		<% } %>
		<span class="leancloud-visitors-count"></span>
	</span>
 <% } %>
