<% if (is_home()) { %>
    <%- partial('_partial/header', {
        title: config.title,
        hdClass: 'index-header'
    }) %>
    <div class="container body-wrap">
        <ul class="post-list">
        <% 
        if (theme.articleSort) {
            page.posts.data = page.posts.data.sort(function(a, b) {
                return Number(a.updated.format('x')) < Number(b.updated.format('x')) ? 1 : -1;
            });
        }
        page.posts.forEach(function (post, index) { %>
            <li class="post-list-item fade">
                <%- partial('_partial/index-item', {
                    post: post,
                    index: index,
                    total: page.posts.length
                }) %>
            </li>
        <% }) %>
        </ul>
        <%- partial('_partial/paginator') %>
    </div>
<% } %>